.player {
    width: 100%;
    position: relative;
}

video {
    width: 100%;
}

.timing {
    width: 85%;
    position: absolute;
    left: 12%;
    bottom: 60px;
}

.controls {
    position: absolute;
    left: 1%;
    bottom: 60px;
    display: flex;
}

.volume {
    margin-left: 15px;
}

.fas {
    margin-left: 15px;
}