* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(245, 239, 153);
}


#game {
    width: 150px;
    margin: 50px auto;
    border-collapse: collapse;
}

#game td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
}

button {
    height: 30px;
    outline: none;
    border: 1px solid white;
    transition-duration: 0.3s;
    box-shadow: 0 0 3px white;
    border-radius: 3px;
    width: 150px;
    color: white;
}

button:active {
    box-shadow: 0 0 4px black;
    border: 1px solid black;

}

#red {
    background-color: red;
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#gray {
    background-color: gray;
}

#brown {
    background-color: brown;
}

#orange {
    background-color: orange;
}

#green {
    background-color: green;
}